body{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
}

// Loader
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #f3f3f3;
    animation: loader .01s;
    animation-delay: 1s;
    animation-fill-mode: both;
    &_animation{
        width: 50%;
        height: 100%;
        animation: zoom 1s;
    }
}

/* Header et Navigation */
.header{
    font-size: large;
    font-weight: bold;
    border-bottom: 5px solid black;
}
.logo{
    display: flex;
    margin-left: 100px;
}
h1{
    color: #076239;
    margin-left: 50px;
}
nav{
    width: 100%;
    margin-top: -30px;
}
nav > ul{
    margin: 0px;
    padding: 0px;
    padding-left: 221px;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav li{
    list-style-type: none;
}
nav > ul > li{
    float: left;
    position: relative;
}
nav > ul > li > a{
    padding: 20px 30px;
    color: black;
}
.sous{
    display: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .sous{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
    width: 200px;
    background-color: #eaeded;
}
.deroulant a{
    color: #076239;
}
.sous li{
    border-bottom: 5px solid #d7d8d8;
    border-radius: 10px;
    width: 100%;
}
.sous li:hover{
    background-color: #d7d8d8;
}
.sous li a{
    padding: 15px 30px;
    font-size: 13px;
    color: black;
    width: 270px;
}

/* Home Page */
/* Actus */
.actualites{
    background-color:  #e5e8e8;
    margin-top: -20px;
    padding-bottom: 40px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.actualites h2{
    padding-top: 25px;
    margin-left: 15px;
    border-bottom: 2px solid #076239;
    width: 18.5%;
}
.last-actu{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
}
.actu{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    width: 350px;
}
.actu img{
    height: 160px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
h3{
    color: #076239;
}

/* Matchs SM1 */
.matchs-sm1{
    background-color: black;
    margin-top: -20px;
    padding-bottom: 50px;
}
.matchs-sm1 h2{
    padding-top: 25px;
    margin-left: 15px;
    color: white;
    width: 11.7%;
}
.matchs-sm1 h3{
    margin-left: 10px;
}
.last-match{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
}
.dernier-match{
    margin-bottom: 25px;
}
.annonce{
    display: flex;
}
.annonce img{
    max-height: 180px;
}
.stats{
    text-align: center;
    margin-top: 30px;
}
.stats a:hover{
    background-color: #f5c245;
    border: 2px solid #076239;    
    transition-duration: .3s;
}
.actu a{
    background-color: #076239;
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    padding: 5px;
}
.actu p{
    text-align: center;
}

/* Matchs we */
.matchs-we{
    background-color: #e5e8e8;
    margin-top: -20px;
    padding-bottom: 50px;
}
.matchs-we h2{
    padding-top: 25px;
    margin-left: 15px;
    width: 16%;
}
.matchs-we h3{
    margin-left: 10px;
}
.we-matchs{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
}
.domicile, .exterieur{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    width: 350px;
}
.matchs-we p{
    text-align: center;
}
.matchs-equipe{
    margin-top: -10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #076239;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
footer a{
    text-decoration: none;
    color: black;
}
.contact-adresse p, .contact-telephone p, .contact-mail p{
    margin-top: -20px;
    margin-left: 20px;
}
.fa-map-marker-alt, .fa-phone, .fa-envelope-square, .fa-clock, .fa-calendar-alt{
    color: #076239;
}
.reseaux-photo a{
    padding-left: 20px;
}
.fa-facebook-square, .fa-instagram-square, .fa-dribbble-square{
    color: #5b5b5b;
    font-size: 50px;
    border-radius: 10px;
}
.fa-facebook-square:hover, .fa-instagram-square:hover, .fa-dribbble-square:hover{
    color: #f5c245;
    transition-duration: 0.3s;
}